.NKDLayout {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "headerWithTitle"
    "about"
    "footer"
}
  
.headerWithTitle{
    margin-top: 4mm;
    grid-area: 'headerWithTitle';
    background-image: url(./../public/images/nanifrontpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: auto;
    color: white;
    display: grid;
    grid-template-rows: repeat(2, minmax(300px, auto));
    font-size: 20mm;
}
  
.about {
    grid-area: 'about';
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, auto));
    background-color: #e7e7e7;
    height: 750px;
    width: 110%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, auto));
}
  
.about .aboutImage {
    grid-area: 'about';
    background-image: url(./../public/images/naniAboutNoColorBlock.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10mm;
    margin-top: 10mm;
}
  
.about .aboutWords {
    width: 450px;
    margin-top: 50mm;
    margin-left: 20mm;
    background-color: #e7e7e7;
}
  
.about h1 {
    font: italic bold 12mm Georgia, Times, "Times New Roman", serif;
}
  
.about h5 {
    font-size: 8mm;
    margin-top: 5mm;
    font: 1em Georgia, Times, "Times New Roman", serif;
}
  
.about button {
    margin-top: 5mm;
}
  