.portfolioPageLayout {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "portfolioHeaderTitle"
    "codingScene"
    "videographyScene"
    "photographyScene"
}

.portfolioHeaderTitle {
    width: 100%;
    background-color: #e7e7e7;
}

.codingScene {
    width: 100%;
    background-color: #e7e7e7;
}

.videographyScene {
    width: 100%;
    background-color: #e7e7e7;
}

.photographyScene {
    width: 100%;
    background-color: #e7e7e7;
}