.portfolioPageLayout {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "portfolioHeaderTitle"
    "codingScene"
    "videographyScene"
    "photographyScene"
}

.portfolioHeaderTitle {
    width: 100%;
    background-color: #e7e7e7;
}

.codingScene {
    width: 100%;
    background-color: #e7e7e7;
}

.codingScene .projectDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectDetails {
    border-radius: 25px; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    opacity: 80%;
    /* md:opacity-0 
    group-hover:h-full 
    group-hover:opacity-80 duration-500 */
}

.videographyScene {
    width: 100%;
    background-color: #e7e7e7;
}

.photographyScene {
    width: 100%;
    background-color: #e7e7e7;
}