.portfolioPageLayout {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "portfolioHeaderTitle"
    "codingScene"
    "videographyScene"
    "photographyScene"
}

.portfolioHeaderTitle {
    width: 100%;
    background-color: #e7e7e7;
}

.codingScene {
    width: 100%;
    background-color: #e7e7e7;
}

.codingScene .projectDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.individualProjects {
    border-radius: 25px; 
    width: 550px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    background-color: pink;
    opacity: 80%;
    border: 4px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
    /* md:opacity-0 
    group-hover:h-full 
    group-hover:opacity-80 duration-500 */
}

.individualProjects img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: 0.8s ease-in-out;
}
.videographyScene {
    width: 100%;
    background-color: #e7e7e7;
}

.photographyScene {
    width: 100%;
    background-color: #e7e7e7;
}