.navBarLogo {
    text-decoration: none;
    font: bold 10mm Georgia, Times, "Times New Roman", serif;
}

ul {
    list-style-type: none;
    font-family: bold 'Georgia, 'Times New Roman', Times, serif';
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

li a {
    text-decoration: none;
    display: flex;
    font-size: 1rem;
    margin-top: 5mm;
    padding: 1mm;
  }

