.aboutLayout {
  background-color: white;
  display: grid;
  grid-template-areas: 
  'headerWithTitleAbout'
  'bio'
  'footerPic'
}
  
.headerWithTitleAbout {
  margin-top: -20mm;
  grid-area: 'headerWithTitleAbout';
  background-image: url(../../../public/images/right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  width: auto;
  color: white;
  display: grid;
  font-size: 20mm;
}

.headerWithTitleAbout .headerTitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
  } 
  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in
}

  
.bio {
  background-size: cover;
  background-color: #e7e7e7;
  height: 700px;
  width: 100%;
}

.bio .words {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 3mm;
}

.bio .words h3 {
  font-size: 8mm;
  margin-top: 4mm;
  font: 1em Georgia, Times, "Times New Roman", serif;
}

.bio .words h2 {
  font-size: 10mm;
  margin-top: 5mm;
}

.footerPic {
  grid-area: 'headerWithTitleAbout';
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  margin-top: -20mm;
  width: auto;
  color: white;
  display: grid;
  grid-template-rows: repeat(2, minmax(300px, auto));
  font-size: 20mm;
}
  