*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.NKDLayout {
  background-color: white;
  display: grid;
  grid-template-areas: 
  "headerWithTitle"
  "about"
  "footer"
}

.headerWithTitle{
  margin-top: 4mm;
  grid-area: 'headerWithTitle';
  background-image: url(./../public/images/nanifrontpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: auto;
  color: white;
  display: grid;
  grid-template-rows: repeat(2, minmax(300px, auto));
  font-size: 20mm;
}

.about {
  grid-area: 'about';
  background-size: cover;
  height: 750px;
  width: auto;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, auto));
  grid-template-areas: 
  "aboutImage"
  "aboutWords"
}

.footer {
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  color: black;
  font: bold 1em Georgia, Times, "Times New Roman", serif;
  background: pink;
}