*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

image {
  max-width: 100%;
}

ul {
  list-style-type: none;
}



  /* watch when you're not mad: https://www.youtube.com/watch?v=bMZ1WQg_UFM */